.form-box h2{
}
.btn{
    font-family: 'Montserrat', sans-serif;

}
.input-box label {
}
.input input{
}
section{
    background: url('../../../Assets/bg5.png');
}
.Logo h2{
    font-family: 'Montserrat', sans-serif;

}