body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar       {background:transparent;width:0.4rem;}
*::-webkit-scrollbar-track {background:transparent;}
*::-webkit-scrollbar-thumb {background:#00000055;border-radius:16px;}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 65%;
  }

  input {
    font-size: 0.9rem;
  }
}
